
/******Scroll Button Code*******/

.scrollup {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 03px;
    right: 10px;
    background-color: #46CFB0;
    text-align: center;
    /* line-height: 60px; */
    /* padding: 10px; */
    color: #fff;
    z-index: 100;
    display: none;
    border-radius: 50%;
    font-size: 25px;
}
